html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container_ab {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 100px;
	background: url("../images/noi-that-vfe34-5140.jpg") no-repeat;
	background-size: cover;
}
.container_ab::before{
  position: absolute;
  content: "";
  background: rgba(0,0,0,0.8);
}
.counter {
  text-align: center;
}

.counter .counter-icon {

	color: #e6e6e6;
}

.counter .counter-timer {
  font-weight: 600;
  font-size: 50px;
	color: #321cb7;
}

.counter .counter-title {
  letter-spacing: 1.5px;
  font-weight: 400;
	font-size: 13pt;
	color: #FFFFFF
}

.counter #percent::after {
  content: "+";
  font-size: 35px;
  font-weight: 600;
	color: #321cb7;
}